@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	padding: 0px;
	margin: 0px;
	transition: all 0.3s ease-in-out;
	overflow: visible;
}

.nav-links {
	@apply hover:bg-black/50 p-3 rounded-full;
	letter-spacing: 0.5px;
}

.img-shadow {
	box-shadow: 7px 18px 42px 3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 7px 18px 42px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 18px 42px 3px rgba(0, 0, 0, 0.75);
}
