.mesh {
	background-color: hsla(148, 18%, 27%, 1);
	background-image: radial-gradient(
			circle at 48% 81%,
			hsla(164, 59%, 35%, 1) 0%,
			transparent 68%
		),
		radial-gradient(
			circle at 74% 40%,
			hsla(206, 64%, 35%, 1) 0%,
			transparent 68%
		),
		radial-gradient(
			circle at 5% 5%,
			hsla(210, 43%, 13%, 1) 0%,
			transparent 68%
		),
		radial-gradient(
			circle at 34% 23%,
			hsla(148, 51%, 44%, 1) 0%,
			transparent 68%
		),
		radial-gradient(
			circle at 69% 30%,
			hsla(282, 25%, 33%, 1) 0%,
			transparent 68%
		);
	background-blend-mode: normal, normal, normal, normal, normal;
}
